.header {
    grid-area: header;
    background-color: mediumseagreen;
    border: 1px solid green;
    border-radius: 10px;
}

.header > .logo {
    font-size: 20px;
    float: left;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}
