.navbar {
    border: 1px solid green;
    border-radius: 10px;
    grid-area: nav;
    padding: 1rem;
    background-color: mediumseagreen;
    height: 100%;
}

.navbar > div:last-child {
    margin-top: 2rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a.active {
    color: chartreuse;
}
